<div class="container main-content">
    <!-- Your existing admin content goes here without the backticks -->
    <div class="page-header">
        <h1><i class="fas fa-users-between-lines"></i> Role Management</h1>
        <p class="lead">Add, edit or delete roles - may impact permissions to sections of the website</p>
    </div>
    

    <%- include('../partials/menu', { activePage: activePage, activeSubPage: activeSubPage }) %>

		<div class="cards cards-1-2-1">
            <div class="card" style="grid-column: 2;">
                <div class="card-header">
                    <h2>View role <%= role.name %></h2>
                </div>
                <div class="card-body">
                    <p><strong>Id:</strong> <%= role.id %></p>
                    <p><strong>Name:</strong> <%= role.name %></p>
                    <p><strong>Users:</strong> 
                        <% 
                        for (let i = 0; i < users.length; i++) { %> 
                            <% if (i > 0) { %>, <% } %> 
                            <span class="badge bg-info"><%= users[i].users.username %></span>
                        <% } %>
                    </p>
                    <p><strong>Created:</strong> <%= (new Date(role.created_at).toLocaleString()) %></p>
                </div>
				<div class="card-footer">
					<div class="button-group">
						<a href="/admin/roles" class="btn btn-primary">Back</a>
						<% if (role.name !== 'admin' && role.name !== 'employee' && role.name !== 'manager') { %>
						<a href="/admin/roles/edit/"
							<%= role.id %>" class="btn btn-warning">Edit
						</a>
							<button type="button" class="btn btn-danger">Delete</button>
						<% } %>
					</div>
				</div>
            </div>
		</div>

</div>