<div class="container main-content">
	<!-- Your existing admin content goes here without the backticks -->
	<div class="page-header">
		<h1 class="page-title">
			<i class="fas fa-users-cog"></i> User Management
		</h1>
		<p class="page-subtitle">Manage users, and their roles</p>
	</div>

	<%- include('../partials/menu', { activePage, activeSubPage }) %>

	<div class="cards cards-1-2-1">
		
		<!-- Show user details card-->
		<div class="card" style="grid-column: 2;">
			<h2>
				<div class="card-icon"><i class="fas fa-user-circle"></i></div>
				Account
			</h2>
			<div class="card-body">
				<div class="card-item">
					<div class="card-item-label">Name :</div>
					<div class="card-item-value" data-name="name" data-canedit="true"><%= selectedUser.name %></div>
				</div>
				<div class="card-item">
					<div class="card-item-label">Username :</div>
					<div class="card-item-value" data-name="username" data-canedit="false"><%= selectedUser.username %></div>
				</div>
				<div class="card-item">
					<div class="card-item-label">Email :</div>
					<div class="card-item-value" data-name="email" data-canedit="false"><%= selectedUser.email %></div>
				</div>
				<div class="card-item">
					<div class="card-item-label">Roles : </div>
					<div class="card-item-value">
						<% if (selectedUser.roles && selectedUser.roles.length > 0) { selectedUser.roles.forEach(role => { %>
						<span class="role-badge role-badge-<%= role %>"><%= role.charAt(0).toUpperCase() + role.slice(1) %></span>
						<% }); } %>
					</div>
				</div>

				<div class="card-item">
					<div class="card-item-label">Department : </div>
					<div class="card-item-value">
						<% if (selectedUser.departments) { %>
						<%= selectedUser.departments.name %>
						<% } else { %>
						Not assigned
						<% } %>
							 &nbsp; &nbsp; 
							 <button type="button" title="Change department" 
								onclick="return userChangeDepartment(this, <%=JSON.stringify(departments)%>);" 
								class="btn btn-primary btn-tiny" 
								style="height:30px;" 
								data-user-id="<%= user.id %>" 
								data-user-name="<%= user.username %>" 
								data-user-department-id="<%=(selectedUser.departments) ? selectedUser.departments.id : 0%>">
								
									<i class="fa fa-sync"></i>
							</button>
					</div>
				</div>
					
			</div>
		</div>
		
	</div>
	
		
</div>